# Node modules
frontend/node_modules
backend/node_modules

# Package-lock
frontend/package-lock.json
backend/package-lock.json

# Builds
frontend/dist
frontend/dist-ssr

# Coverage
frontend/coverage
backend/coverage


# Others
.DS_Store
*.local